* {
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
#descript {
  padding: 10px;
  background-color: #50e3c2;
  color: #ffffff;
}
#descript h3 {
  width: 50%;
  display: inline-block;
}
#descript a {
  display: inline-block;
  text-decoration: none;
  color: #ddd;
  text-shadow: 1px 1px 2px #000;
}
#descript a:hover {
  color: #ffffff;
}
form {
	width:500px;
	margin:20px auto;

}
label {
  width: 20%;
  text-align: right;
  display: inline-block;
}
.form-group {
   margin-bottom: 5px;

}
.form-control{
  display: inline-block;
  width: 60%; 
  padding: 14px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #fff;
   outline: 0; 
  box-shadow: inset 0 1px 1px #fff, 0 0 8px  #50e3c2;
}
.btn {
    display: inline-block;
    width: 20%; 
    margin-left: 60%;
    height: 33px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    letter-spacing: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 4px;
    background-color: #50e3c2;
    color:#fff;
}
.btn:focus {
  color: #333;
  background-color: #30e3c2;
  text-decoration: none;
}
p{
    color: #a8a8a8;
    padding-left: 25%;
    margin-bottom: 10px;
    font-size: 12px;
}
