* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html, body {   
    width: 100%;
    height: 100%;   
    background-color: #02071d;
}
#descript {
    padding:10px;
    background-color: wi;
    color: #fff;
}
#descript > h3 {
    width: 50%;
    display: inline-block;
}
.tasklink {
    display: inline-block;
    text-decoration: none;
    color: #ddd;
    text-shadow: 1px 1px 2px #000;
}
.tasklink:hover {
    color: #fff;
}
#left {
    width: 500px;
    float:left;    
    border:2px solid #fff;

}
#planet {
    
    position: relative;
    overflow: hidden;   
    margin-left: 500px;   
    height: 600px; 
  
}
.form-control{
  display: inline-block;
  width: 11%;
  padding: 4px 0px;
  font-size: 12px;
  margin-bottom: 10px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #fff;
  outline: 0;
  box-shadow: inset 0 1px 1px #fff, 0 0 8px  #50e3c2;
}
.btn {
    display: inline-block;    
    height: 33px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 4px;
    background-color: #50e3c2;
    color:#fff;
}
.btn:focus {
  color: #333;
  background-color: #30e3c2;
  text-decoration: none;
}
button:disabled,input:disabled{
    background-color: #ddd;
    color:#fff;  
}

/** 指挥官所在的蓝色星球 */
#commander {
    position: absolute;
    background: url('star.jpg');    
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50px;  
}
.other {
    position: absolute;   
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}
#other1 {
    background-color: rgba(255, 165, 1, 0.95);  
    box-shadow: 10px 10px 2px rgb(107, 60, 12);
    left:90%;
    top:68%;
}
#other2 {
    background-color: rgba(255, 107, 1, 0.95);
    box-shadow: 5px 5px 2px rgba(189, 110, 52, 0.95); 
    width: 30px;
    height: 30px;  
    left:5%;
    top:85%;
}
#other3{   
    background-color: rgba(1, 138, 255, 0.95);
    box-shadow: 10px 10px 2px #236dca;
    width: 40px;
    height: 40px;
    left:7%;
    top:5%;
}

/** 轨道通用样式 */
 .orbit {
    position: absolute;
    border-radius: 100%;
    border: 2px #555 solid;
} 


#orbit0 {    
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px; 
}


#orbit1 {   
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    width: 300px;
    height: 300px;    
}


#orbit2 {     
     left: calc(50% - 200px);
    top: calc(50% - 200px); 
      width: 400px;
      height: 400px;   
}


#orbit3 {   
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    width: 500px;
    height: 500px;
    
}


.orbit-ship0 {    
    top: calc(50% - 105px);

    transform-origin: center 110px; 
}


.orbit-ship1 {   
   top: calc(50% - 155px);    
    transform-origin: center 160px;
}


.orbit-ship2 {    
   top: calc(50% - 205px);    
    transform-origin: center 210px;
}


.orbit-ship3 {   
    top: calc(50% - 255px);     
    transform-origin: center 260px;
}

/** 飞船整体 */
.space-ship {
    background-color: greenyellow;
    width: 80px;
    height: 25px;
    border:1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    line-height: 25px;
    text-align: center;
    position: absolute;
    left: calc(50% - 40px);     
    transform: rotate(0deg);
}

/** 飞船能量条 */
.energy {
    width: 100%;
    height: 100%;
    background-color: green;
}

.emptyEnergy {
    background-color: red;
}

/** 控制台整体 */
#console {
    background-color: rgba(150, 150, 150, 0.3);
    width:100%;    
    border:2px solid #ddd;
    margin-top: 10px;   
  
}

/** 控制台标题和操作面板标题 */
#console-title, #control-title {
    color: white;
    background-color: #00dcff;   
    text-align: center;
    padding:5px;
    
}
/** 控制台文本区 */
#console-text {
    color:white;
    overflow: auto;
    height: 300px;           
}




/** 操作面板整体 */
#control {
    background-color: rgba(150, 150, 150, 0.3);
    width: 100%;
    height: 200px;
    
}

/** 操作面板操作区 */
#control-main {
    overflow: auto;
    color: white;
    padding: 10px 5px;
    width: 100%;
}

@media screen and (max-width: 800px) {
#left {
     width: 100%;    
    
    border:2px solid #fff;

}

#planet {
    width: 100%;
    margin-left: 0;
    position: relative;    
    height: 600px; 
  
}
}