* {
    margin: 0;
    padidng: 0;
}
#descript {
    padding:10px;
    background-color: #50e3c2;
    color: #fff;
}
#descript > h3 {
    width: 50%;
    display: inline-block;
}
.tasklink {
    display: inline-block;
    text-decoration: none;
    color: #ddd;
    text-shadow: 1px 1px 2px #000;
}
.tasklink:hover {
    color: #fff;
}
button {
    padding:10px 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #5cb85c;
    border-color: #fff;
    outline: none;
}
button:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.form-control {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-control:focus {
    border-color: #fff;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
textarea {
    margin-left: 5px;
    margin-bottom: -15px;
}
#show {
    margin-top: 10px;
}
.tag {
    color:black;
    font-size: 16px;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin:5px;
    line-height: 70px;
    text-align: center;
    overflow: hidden;
    border-radius: 50px;
    background: #03A9F4;
}
.tag:hover {
    color:white;
    font-size: 16px;
    display: inline-block;
    margin:5px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50px;
    background: #3399F4;
}
.tag:hover::before {
    content:"删除:";
    color:red;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-style: bold;
}