* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
}
div {
    text-indent: 20px;
}

#root {
    display: flex;
    padding: 5px;
    margin-left: 100px;
    border: 5px solid #ddd;
    position: relative;
    justify-content: space-around;
    flex-direction: column;
    width: 70%;
}
.child1 {
    position:relative;
    padding: 5px;
    width: 70%;
    margin:3px;
    margin-left: 7%;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid red;
    background-color: #fff;
    display: none;
}
.child2 {
    position:relative;
    margin:3px;
    margin-left: 7%;
    padding: 5px;
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid green;
    background-color: #fff;
    display: none;
}
.child3 {
    position:relative;
    margin:3px;
    padding: 5px;
    width: 70%;
    margin-left: 7%;
    border: 2px solid blue;
    flex:0 1 auto;
    background-color: #fff;
    display: none;
}
.child4 {
    position:relative;
    margin:3px;
    padding: 5px;
    width: 70%;
    margin-left: 7%;
    border: 2px solid red;
    flex:0 1 auto;
    background-color: #fff;
}
section {
    margin-left: 10%;
    margin-top: 4%;
}
a {
    display: inline-block;
    text-decoration: none;
    width: 1em;
    line-height: 1;
    border: 1px solid black;
    text-align: center;
    margin: 0 6px 0 0;
    color:red;
    text-indent: 0;
    position: absolute;
    top:6px;
    left:2px;
}
.form-control {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.btn {
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    outline: none;
}
button:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.animate {
    background-color: yellow;
    border-radius: 50px;
    transition: all 2s ease-in-out;
}
.normal {
    border-radius: 0;
    transition: all 1s ease-in-out;
}