* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

	background-color: #eee;
   

}
#root{
	 display: flex; 	
    padding: 20px;
	align-items:center;
	border: 5px solid #ddd;
	position: relative;
	justify-content: space-around;
	 flex-direction: row; 
    width: 100%;
    justify-content: space-around;
    align-items:center;

}

.content{
	position: absolute;
	top:2px;
	left:2px;
}
.child1{
	 position:relative;
	 padding: 20px;
	 display: flex;
     margin:5px;
     justify-content: space-around;
     align-items:center;
     border: 2px solid red; 
}
.child2{
	
	 position:relative;
     display: flex; 
     margin:5px;
     padding: 10px;
     align-items:center;
     justify-content: space-around; 
     border: 2px solid green;
}
.child3{
	
      position:relative; 
      margin:5px;
      padding: 10px;
      border: 2px solid blue; 
      flex:0 1 auto; 
}
#deal{
	margin-left: 40%;
}
.btn{
      
      	padding: 10px 10px;
      	border-radius: 10px;
      	cursor: pointer;      	
      	color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        outline: none;

}
button:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.animate{
    background-color: yellow;
    border-radius: 50px;
    transition: all  2s ease-in-out; 

}
.normal{
	
	border-radius: 0;	
    transition: all  1s ease-in-out; 
}