* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: #eee;  

}
#root{
	 display: flex; 	
    padding: 10px;
	  align-items:center;
	border: 5px solid #ddd;
	position: relative;
	justify-content: space-around;
	 flex-direction: row; 
    width: 100%;
    justify-content: space-around;
    align-items:center;

}

.content{
	position: absolute;
	top:2px;
	left:2px;
}
.child1{
	 position:relative;
	 padding: 10px;
	 display: flex;
     margin:3px;
     justify-content: space-around;
     align-items:center;
     border: 2px solid red; 
     background-color: #fff;
}
.child2{
	
	 position:relative;
     display: flex; 
     margin:3px;
     padding: 5px;
     align-items:center;
     justify-content: space-around; 
     border: 2px solid green;
      background-color: #fff;
}
.child3{
	
      position:relative; 
      margin:3px;
      padding: 5px;
      border: 2px solid blue; 
      flex:0 1 auto; 
       background-color: #fff;
}
section{
	 margin-left: 10%; 
	 margin-top: 4%;
}

.form-control{
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 10px; 

  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);  
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.form-control:focus {
  border-color: #66afe9;
  outline: 0; 
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.btn{
      
      	padding: 10px 10px;
      	border-radius: 10px;
      	cursor: pointer;      	
      	color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
        outline: none;

}
button:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.animate{
    background-color: yellow;
    border-radius: 50px;
    transition: all  2s ease-in-out; 

}
.normal{
	
	border-radius: 0;	
    transition: all  1s ease-in-out; 
}
